{% extends 'base.html' %} 

{%load static%}

{% block title %} Pagina Registro Empleado {% endblock title %}


{% block content %} 

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Empleados</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                <div class="cell large-6">
                    {{form.as_p}}
                </div>
                <!-- <div class="cell large-6">
                    <label>Apellido
                        {{form.last_name}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo
                        {{form.job}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Departamento
                        {{form.departamento}}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Habilidades
                        {{form.habilidades}}
                    </label>
                </div> -->
                <div class="cell">
                    <button type="submit" class="success  button">Crear</button>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock content %}


